::ng-deep {
    .form-group{
        margin-bottom: 0.4rem;
        label {
            margin-right: 0.4rem;
        }
        p {
            margin-top: 0;
            margin-bottom: 0.1rem !important;
        }
    }
}